# Third-party
content/mu-plugins/asset-loader
content/plugins

# Dependencies
node_modules
vendor
wordpress

# Built Files
content/mu-plugins/starter-blocks/build
content/themes/starter/build

# Be consistent
!.eslintrc.js
